*
{
	padding: 0px;
    margin: 0px;
}
.menu
{
  background-color: #323232;
}
h1
{

	background-color: #323232;
	text-align: center;
}
body
{
background-color: #34495E;
}
button
{
  margin: 10px;
  border-bottom-right-radius: 20px;
  width: 200px;
  border-color: white;
  background-color: #1CA9E3;
}
.show-messenger
{
  
}